<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>421327281615-log789eetskaf69chegk4ko3cgtonbo8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.421327281615-log789eetskaf69chegk4ko3cgtonbo8</string>
	<key>API_KEY</key>
	<string>AIzaSyAe3ejoV_2iQPdx0OhoZcvPb-zzGhcXFcs</string>
	<key>GCM_SENDER_ID</key>
	<string>421327281615</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gitainitiative.bhagavadgita</string>
	<key>PROJECT_ID</key>
	<string>bhagavad-gita-app-890ca</string>
	<key>STORAGE_BUCKET</key>
	<string>bhagavad-gita-app-890ca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:421327281615:ios:6fee101297f29b012c86ba</string>
</dict>
</plist>